{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid py-4">

<div class="row">
  <!-- [ sample-page ] start -->
  <div class="col-lg-4">
    <div class="card user-card user-card-1">
      <div class="card-body pb-0">
        <div class="float-end">
          <span class="badge badge-success">Pro</span>
        </div>
        <div class="media d-flex user-about-block align-items-center mt-0 mb-3">
          <form method="post" action="{% url "upload_avatar" %}" class="position-relative d-inline-block" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="file" onchange="this.form.submit()" name="avatar" class="d-none" id="avatar">
            <label for="avatar">
              {% if request.user.profile.avatar %}
                <img class="rounded" width="60px" src="{{ request.user.profile.avatar.url }}" alt="User image">
              {% else %}
                <img class="rounded" width="60px" src="{% static 'assets/img/user.jpg' %}" alt="User image">
              {% endif %}
             
            </label>
          </form>
          <div class="media-body ms-3">
            <h6 class="mb-1">
              {% if request.user.profile.full_name %}
                {{request.user.profile.full_name}}
              {% else %}
                {{ request.user.username }}
              {% endif %}
            </h6>
            <p class="mb-0 text-muted">UI/UX Designer</p>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="f-w-500"><i class="feather icon-mail m-r-10"></i>Email</span>
          <a href="mailto:demo@sample" class="float-end text-body">{{ request.user.email }}</a>
        </li>
        <li class="list-group-item">
          <span class="f-w-500"><i class="feather icon-phone-call m-r-10"></i>Phone</span>
          <a href="#" class="float-end text-body">{{ request.user.profile.phone|default_if_none:"" }}</a>
        </li>
      </ul>
      <div class="nav flex-column nav-pills list-group list-group-flush list-pills mt-3" id="user-set-tab" role="tablist"
        aria-orientation="vertical">
        <a class="nav-link list-group-item list-group-item-action active border-0" id="user-set-profile-tab"
          data-bs-toggle="pill" href="#user-set-profile" role="tab" aria-controls="user-set-profile"
          aria-selected="true">
          <span class="f-w-500"><i class="feather icon-user m-r-10 h5 "></i>Profile
            Overview</span>
          <span class="float-end"><i class="feather icon-chevron-right"></i></span>
        </a>
        <a class="nav-link list-group-item list-group-item-action border-0" id="user-set-information-tab" data-bs-toggle="pill"
          href="#user-set-information" role="tab" aria-controls="user-set-information" aria-selected="false">
          <span class="f-w-500"><i class="feather icon-file-text m-r-10 h5 "></i>Edit Profile</span>
          <span class="float-end"><i class="feather icon-chevron-right"></i></span>
        </a>
        <a class="nav-link list-group-item list-group-item-action border-0" id="user-set-passwort-tab" data-bs-toggle="pill"
          href="#user-set-passwort" role="tab" aria-controls="user-set-passwort" aria-selected="false">
          <span class="f-w-500"><i class="feather icon-shield m-r-10 h5 "></i>Change
            Password</span>
          <span class="float-end"><i class="feather icon-chevron-right"></i></span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="tab-content bg-transparent p-0 shadow-none" id="user-set-tabContent">
      <div class="tab-pane fade show active" id="user-set-profile" role="tabpanel"
        aria-labelledby="user-set-profile-tab">
        {% if messages %}
          {% for message in messages %}          
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
              <p class="mb-0">{{ message }}</p>
            </div>
          {% endfor %}
        {% endif %}
        <div class="card">
          <div class="card-header">
            <h5><i class="feather icon-user text-c-blue wid-20"></i><span class="p-l-5">About me</span>
            </h5>
          </div>
          <div class="card-body">
            <p>
              {{ request.user.profile.bio.html|safe }}
            </p>
            <h5 class="mt-5 mb-3">Personal Details</h5>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class="">Full Name</td>
                  <td class="">:</td>
                  <td class="">{{ request.user.profile.full_name|default_if_none:"" }}</td>
                </tr>
                <tr>
                  <td class="">Address</td>
                  <td class="">:</td>
                  <td class="">{{ request.user.profile.address|default_if_none:"" }}{% if request.user.profile.city %}, {{request.user.profile.city}}{% endif %}{% if request.user.profile.country %}, {{request.user.profile.country}}{% endif %} </td>
                </tr>
                <tr>
                  <td class="">Zip Code</td>
                  <td class="">:</td>
                  <td class="">{{ request.user.profile.zip_code|default_if_none:"" }}</td>
                </tr>
                <tr>
                  <td class="">Phone</td>
                  <td class="">:</td>
                  <td class="">{{ request.user.profile.phone|default_if_none:"" }}</td>
                </tr>
                <tr>
                  <td class="">Email</td>
                  <td class="">:</td>
                  <td class="">{{ request.user.email|default_if_none:"" }}</td>
                </tr>
              </tbody>
            </table>
            <!-- Education -->
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="user-set-information" role="tabpanel" aria-labelledby="user-set-information-tab">
        <form method="post" action="" class="card">
          {% csrf_token %}

          <div class="card-header">
            <h5><i class="feather icon-user text-c-blue wid-20"></i><span class="p-l-5">Edit Profile</span></h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group mb-3">
                  <label class="form-label">Full Name <span class="text-danger">*</span></label>
                  <input type="text" name="full_name" class="form-control" value="{{ request.user.profile.full_name|default_if_none:"" }}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group mb-3">
                  <label class="form-label">Contact Phone</label>
                  <input type="text" name="phone" class="form-control" value="{{ request.user.profile.phone|default_if_none:"" }}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group mb-3">
                  <label class="form-label">Email <span class="text-black-50">(Read Only)</span></label>
                  <input type="text" readonly class="form-control" name="email" value="{{ request.user.email }}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group mb-3">
                  <label class="form-label">Address</label>
                  <input type="text" name="address" class="form-control" value="{{ request.user.profile.address|default_if_none:"" }}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group mb-3">
                  <label class="form-label">City <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="city" value="{{ request.user.profile.city|default_if_none:"" }}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group mb-3">
                  <label class="form-label">Zip Code <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="zip_code" value="{{ request.user.profile.zip_code|default_if_none:"" }}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group mb-3">
                  <label class="form-label">Country <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="country" value="{{ request.user.profile.country|default_if_none:"" }}">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="bio" class="form-label">Bio</label>
                  {{ form.media }}
                  {{ form.bio }}
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary">Update Profile</button>
          </div>
        </form>
      </div>
      <div class="tab-pane fade" id="user-set-passwort" role="tabpanel" aria-labelledby="user-set-passwort-tab">
        <form method="post" action="{% url "change_password" %}" class="card">
          {% csrf_token %}

          <div class="card-header">
            <h5><i data-feather="lock" class="icon-svg-primary wid-20"></i><span class="p-l-5">Change
                Password</span></h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group mb-3">
                  <label class="form-label">Current Password <span class="text-danger">*</span></label>
                  <input type="password" name="current_password" class="form-control mb-2" placeholder="Enter Your currunt password">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group mb-3">
                  <label class="form-label">New Password <span class="text-danger">*</span></label>
                  <input type="password" name="new_password" class="form-control" placeholder="Enter New password">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group mb-3">
                  <label class="form-label">Confirm Password <span class="text-danger">*</span></label>
                  <input type="password" name="confirm_new_password" class="form-control" placeholder="Enter your password again">
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            <button type="submit" class="btn btn-danger">Change Password</button>
            <button type="button" class="btn btn-outline-danger ms-2">Clear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- [ sample-page ] end -->
</div>
<!-- [ Main Content ] end -->
</div>
{% endblock content %}

{% block extra_js %}

<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script>

  var textRemove = new Choices(
    document.getElementById('skill-mlt-select'), {
    delimiter: ',',
    editItems: true,
    maxItemCount: 5,
    removeItemButton: true,
  }
  );
</script>

{% endblock extra_js %}